.tooltip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
}

.cursor-pointer {
	cursor: pointer;
}

#d3StackFilter, #d3TableFilter {
	height: 100px;
}
